/* inventory.css */

#table-controls input[type="checkbox"] {
    transform: scale(0.8);
    vertical-align: middle;
    margin-right: 2px;
}
#table-controls label {
    font-size: 0.8em;
    vertical-align: middle;
    margin-right: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #aba287;
    color: #fff;
    font-size: 12px;
}

td {
    font-size: 12px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* styles for specific columns */
.number-columns {
    text-align: center;
    width: 80px;
}
.td-productName {
    font-weight: bold;
}

/* pegination buttons style */
.button-style {
    font-size: 14px;
    padding: 6px 12px;
    margin: 10px 2px;
}
#pagination {
    float: right;
}
